page-home {
.Ps{
  text-align: center;
}
.ions{
    text-align:right;
}
button{
    height:40%;
    width:  45%;
}
.pep{
    color:rgba(255, 115, 0, 0.973);
}

.textcontents{
    display: flex;
    justify-content: space-between;
}
.peps{
    display: flex;
    justify-content: space-between;
}
.takes{
    position: fixed;
}
ion-footer{
    position: fixed;
}
}
